<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <h2>User info</h2>
    <div class="user-edit-image">
        <%= attachment_image_tag user, :profile_image, class: "img-square", fallback: "no_image.jpg", size: "100x100" %>
    </div>
    <table class="table">
      <tr>
        <th>name</th>
          <td><%= user.name %></td>
      </tr>
      <tr>
        <th>introduction</th>
          <td><%= user.introduction %></td>
      </tr> 
    </table>


    

    <% if current_user.id == user.id %>
    <%= link_to edit_user_path(user), class:"btn btn-info btn-block text-info" do %><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><% end %>
    <% else %>

    <%= link_to user_path(current_user.id), class:"btn btn-info btn-block text-info" do %><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span><% end %>
    <% end %>


    <% if book.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= book.errors.count %> errors </h2>
          <ul>
            <% book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

<h2>New book</h2>

  <%= form_for(book) do |f| %>

    <h6>Title</h6>
    <div class="new_book">
    <%= f.text_field :title, :size=>"36%" %>
    </div>
 
    <h6>Opinion</h6>
    <div class="new_book">
    <%= f.text_area :body, :size=>"35%" %>
  </div>
 <br>
    <%= f.submit 'Create Book', class:"btn btn-info btn-block text-info" %>
 
<% end %>
</div>