

<div class="container">
	<div class="row">
<div class="col-lg-3">
<h1>User info</h1>
<p><%= @user.name %></p>
<p><%= @user.email %></p>


  <%= form_for(@book) do |f| %>

    <h6>Title</h6>
    <%= f.text_field :title %>
 
    <h6>Opinion</h6>
    <%= f.text_area :body %>
 <br>
    <%= f.submit 'Create Book' %>
 
<% end %>
</div>

  <h2>Books</h2>
  <div class="col-lg-9">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
    <tr> 
    <td>
    <%= book.title %>
    </td>
    <td>
    <%= book.body %>
    </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
</div>
</body>
</html>
    
